@model WebProject.Areas.TSO.Models.CrossSubsidizationAmount
@{
	Layout = null; string disable = "";
}
@if (Model.tz_id == 0)
{
	disable = "disabled";
}
<form asp-controller="TariffConnection" asp-action="TZCrossSubsidizationAmount_Save" asp-antiforgery="true" asp-area="TSO" id="tz_other_org_costs_form"
	  data-ajax-failure="onFailedFormTZ" data-ajax-success="onSuccessFormTZ" data-ajax-begin="onBeginFormTZ" data-ajax="true" data-ajax-method="POST">
	<input type="hidden" name="tz_id" value="@Model.tz_id" />
	<input type="hidden" name="data_status" value="@Model.data_status" />
	<input type="hidden" name="perspective_year" value="@Model.perspective_year" />
	<table class="table-inp-stretch" style="width:100%;">
		<thead>
			<tr>
				<th></th>
				<th>I полугодие</th>
				<th>II полугодие</th>
				<th>Год</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>ТСО-перепродавцы</td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_tso_per_1" class="data-value double" data-type="tariff_tso" data-double="cross_subsidization_amount"></div></td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_tso_per_2" class="data-value double" data-type="tariff_tso" data-double="cross_subsidization_amount"></div></td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_tso_per_3" class="data-value" disabled></div></td>
			</tr>
			<tr>
				<td>Бюджетные потребители</td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_budgetcons_per_1" class="data-value double" data-type="tariff_budgetcons" data-double="cross_subsidization_amount"></div></td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_budgetcons_per_2" class="data-value double" data-type="tariff_budgetcons" data-double="cross_subsidization_amount"></div></td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_budgetcons_per_3" class="data-value" disabled></div></td>
			</tr>
			<tr>
				<td>Население</td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_public_per_1" class="data-value double" data-type="tariff_public" data-double="cross_subsidization_amount"></div></td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_public_per_2" class="data-value double" data-type="tariff_public" data-double="cross_subsidization_amount"></div></td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_public_per_3" class="data-value" disabled></div></td>
			</tr>
			<tr>
				<td>Прочие</td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_other_per_1" class="data-value double" data-type="tariff_other" data-double="cross_subsidization_amount"></div></td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_other_per_2" class="data-value double" data-type="tariff_other" data-double="cross_subsidization_amount"></div></td>
				<td><div class="input-cell"><input type="text" asp-for="@Model.cross_subsidization_amount_tariff_other_per_3" class="data-value" disabled></div></td>
			</tr>
		</tbody>
	</table>
	<button type="submit" class="bttn bttn-color ms-auto">Сохранить</button>
</form>