@model List<WebProject.Areas.DictionaryTables.Models.HeatSupplySystemViewModel>
@{
	int cnt_columns = 7;
}
<div class="table-block">
	<input type="hidden" value="0" id="refresh_hss_table" />
	<div class="table-buttons HSSTable-buttons"></div>
	<table id="HSSTable" class="display compact table-clicked" style="width:100%">
		<thead>
			<tr>
				<th>УНОМ системы теплоснабжения</th>
				<th>Территория</th>
				<th>Ликвидирована</th>
				<th>Год ликвидации</th>
				<th>Причина ликвидации</th>
				<th>Уникальный номер слоя в электронной модели</th>
				<th>SYS объекта в электронном слое</th>
				
			</tr>
			<tr class="filter-row ">
				@for (int i = 0; i < @cnt_columns; i++)
				{
					if (i == 0)
					{
						<th class="dtfc-fixed-left" style="left:0; position:sticky;"><input type="text" class="filter-col-0" /></th>
					}
					else
					{
						<th><input type="text" class="filter-col-@i" /></th>
					}
				}
			</tr>
		</thead>
		<tbody title="Двойной клик открывает форму редактирования">
			@foreach (var hss_list in Model)
			{
				<tr ondblclick="OpenPopupHSS(@hss_list.hss_id);">
					<td>@hss_list.unom_hss</td>
					<td>@hss_list.territory</td>
					<td>@hss_list.is_liquidated</td>
					<td>@hss_list.year_liquidation</td>
					<td>@hss_list.reason_liquidation</td>
					<td>@hss_list.layer_id</td>
					<td>@hss_list.layer_sys</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="data-row table-summary">
	<div class="data-item rows-count">
		<h5>Всего записей:</h5>
		<p><span class="mark-color" id="all_cnt_rows"></span></p>
	</div>
</div>