@model List<WebProject.Areas.HeatPointsAndConsumers.Models.BuildingListViewModel>
@{
	int cnt_columns = 8;
}

<div class="table-block">
	<input type="hidden" value="0" id="refresh_Building_table" />
	<div class="table-buttons BuildingTable-buttons"></div>
	<table id="BuildingTable" class="display compact table-clicked" style="width:100%">
		<thead>
			<tr>
				<th>Адрес</th>
				<th>Район</th>
				<th>Этажность</th>
				<th>Кадастровый номер земельного участка (КН ЗУ)</th>
				<th>Кадастровый номер объекта капитального строительства (КН ОКС)</th>
				<th>ФИАС строения/здания потребителя</th>
				<th>ФИАС земельного участка</th>
				<th>Номер функциональной зоны Генерального плана</th>
			</tr>
			<tr class="filter-row ">
				@for (int i = 0; i < @cnt_columns; i++)
				{
					if (i == 0)
					{
						<th class="dtfc-fixed-left" style="left:0; position:sticky;"><input type="text" class="filter-col-0" /></th>
					}
					else
					{
						<th><input type="text" class="filter-col-@i" /></th>
					}
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var build in Model)
			{
				<tr onclick="OpenPopupBuilging(@build.building_id)">
					<td>@build.address</td>
					<td>@build.district_name</td>
					<td>@build.floor_name</td>
					<td>@build.kadnum_zu</td>
					<td>@build.kadnum_oks</td>
					<td>@build.fias_build</td>
					<td>@build.fias_zu</td>
					<td>@build.func_num_zone</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="data-row table-summary">
	<div class="data-item rows-count">
		<h5>Всего записей:</h5>
		<p><span class="mark-color" id="all_cnt_rows"></span></p>
	</div>
</div>