@model WebProject.Areas.TSO.Models.TZCrossSubsidyViewModel
@{
	Layout = null; string disable = "";
}
@if (Model.tz_id == 0)
{
	disable = "disabled";
}
<form asp-controller="CostsAndPrices" asp-action="TZCrossSubsidy_Save" asp-antiforgery="true" asp-area="TSO"
	  data-ajax-failure="onFailedFormTZ" data-ajax-success="onSuccessFormTZ" data-ajax-begin="onBeginFormTZ" data-ajax="true" data-ajax-method="POST">
	<input type="hidden" name="tz_id" value="@Model.tz_id" />
	<input type="hidden" name="data_status" value="@Model.data_status" />
	<input type="hidden" name="perspective_year" value="@Model.perspective_year" />
	<table class="table-inp-stretch" style="width:100%;">
		<thead>
			<tr>
				<th rowspan="2"></th>
				<th colspan="3">План</th>
			</tr>
			<tr>
				<th>I полугодие</th>
				<th>II полугодие</th>
				<th>Год</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Всего, <span class="data-unit">тыс. руб.</span></td>
				<td><input type="text" asp-for="@Model.cross_subsidy_all_plan_1" class="data-value" disabled></td>
				<td><input type="text" asp-for="@Model.cross_subsidy_all_plan_2" class="data-value" disabled></td>
				<td><input type="text" asp-for="@Model.cross_subsidy_all_plan_3" class="data-value" disabled></td>
			</tr>
			<tr>
				<td>1. Перекрёстка между видами деятельности (электроэнергия и тепловая энергия), <span class="data-unit">тыс. руб.</span></td>
				<td><input type="text" asp-for="@Model.cross_subs_between_activ_plan_1" class="data-value double" data-double="cross_subsidy_nvv"></td>
				<td><input type="text" asp-for="@Model.cross_subs_between_activ_plan_2" class="data-value double" data-double="cross_subsidy_nvv"></td>
				<td><input type="text" asp-for="@Model.cross_subs_between_activ_plan_3" class="data-value" disabled></td>
			</tr>
			<tr>
				<td>2. Перекрёстка между группами потребителей<span class="data-unit">тыс. руб.</span></td>
				<td><input type="text" asp-for="@Model.cross_subs_between_consumer_plan_1" class="data-value double" data-double="cross_subsidy_nvv"></td>
				<td><input type="text" asp-for="@Model.cross_subs_between_consumer_plan_2" class="data-value double" data-double="cross_subsidy_nvv"></td>
				<td><input type="text" asp-for="@Model.cross_subs_between_consumer_plan_3" class="data-value" disabled></td>
			</tr>
		</tbody>
	</table>
	<button type="submit" class="bttn bttn-color ms-auto" @disable>Сохранить</button>
</form>