@model List<WebProject.Areas.DictionaryTables.Models.NormLossListViewModel>
@{
	int cnt_columns = 4;
}


<div class="table-block">
	<div class="table-buttons NormLossListTable-buttons"></div>
	<input type="hidden" value="0" id="refresh_NormLossList_table" />
	<table id="NormLossListTable" class="display compact table-clicked" style="width:100%">
		<thead>
			<tr>
				<th>УНОМ Диаметра</th>
				<th>УНОМ Температурного графика</th>
				<th>Способ прокладки тепловой сети</th>
				<th>Нормы плотности теплового потока, ккал/чм</th>
			</tr>
			<tr class="filter-row ">
				@for (int i = 0; i < @cnt_columns; i++)
				{
					if (i == 0)
					{
						<th class="dtfc-fixed-left" style="left:0; position:sticky;"><input type="text" class="filter-col-0" /></th>
					}
					else
					{
						<th><input type="text" class="filter-col-@i" /></th>
					}
				}
			</tr>
		</thead>
		<tbody>
			@foreach(var loss in Model) 
			{
				<tr onclick="OpenNormLoss(@loss.Id);">
				<td>@loss.cond_ht_net_diam</td>
				<td>@loss.temp_graph_name</td>
				<td>@loss.net_laying_type_name</td>
				<td>@loss.norm_density</td>
			</tr>
			}
		</tbody>
	</table>
</div>
<div class="data-row table-summary">
	<div class="data-item rows-count">
		<h5>Всего записей:</h5>
		<p><span class="mark-color" id="all_cnt_rows"></span></p>
	</div>
</div>
