@model WebProject.Areas.TSO.Models.TZHeatCarrierNeedCostsViewModel
@{
	Layout = null; string disable = "";
}
@if (Model.tz_id == 0)
{
	disable = "disabled";
}
<form asp-controller="CostsAndPrices" asp-action="TZHeatCarrierNeedCosts_Save" asp-antiforgery="true" asp-area="TSO"
	  data-ajax-failure="onFailedFormTZ" data-ajax-success="onSuccessFormTZ" data-ajax-begin="onBeginFormTZ" data-ajax="true" data-ajax-method="POST">
	<input type="hidden" name="tz_id" value="@Model.tz_id" />
	<input type="hidden" name="data_status" value="@Model.data_status" />
	<input type="hidden" name="perspective_year" value="@Model.perspective_year" />
	<table class="table-inp-stretch" style="width:100%;">
		<thead>
			<tr>
				<th rowspan="2"></th>
				<th colspan="3">Факт</th>
				<th colspan="3">План</th>
			</tr>
			<tr>
				<th>I полугодие</th>
				<th>II полугодие</th>
				<th>Год</th>
				<th>I полугодие</th>
				<th>II полугодие</th>
				<th>Год</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Всего затраты, <span class="data-unit">тыс. руб. без НДС</span></td>
				<td><input type="text" asp-for="@Model.cost_heatcarrier_fact_1" class="data-value double" data-double="heat_carrier_costs"></td>
				<td><input type="text" asp-for="@Model.cost_heatcarrier_fact_2" class="data-value double" data-double="heat_carrier_costs"></td>
				<td><input type="text" asp-for="@Model.cost_heatcarrier_fact_3" class="data-value" disabled></td>
				<td><input type="text" asp-for="@Model.cost_heatcarrier_plan_1" class="data-value double" data-double="heat_carrier_costs"></td>
				<td><input type="text" asp-for="@Model.cost_heatcarrier_plan_2" class="data-value double" data-double="heat_carrier_costs"></td>
				<td><input type="text" asp-for="@Model.cost_heatcarrier_plan_3" class="data-value" disabled></td>
			</tr>
			<tr>
				<td>Объем покупки теплоносителя, <span class="data-unit">тыс. м<sup>3</sup></span></td>
				<td><input type="text" asp-for="@Model.volume_heatcarrier_fact_1" class="data-value double" data-double="heat_carrier_costs"></td>
				<td><input type="text" asp-for="@Model.volume_heatcarrier_fact_2" class="data-value double" data-double="heat_carrier_costs"></td>
				<td><input type="text" asp-for="@Model.volume_heatcarrier_fact_3" class="data-value" disabled></td>
				<td><input type="text" asp-for="@Model.volume_heatcarrier_plan_1" class="data-value double" data-double="heat_carrier_costs"></td>
				<td><input type="text" asp-for="@Model.volume_heatcarrier_plan_2" class="data-value double" data-double="heat_carrier_costs"></td>
				<td><input type="text" asp-for="@Model.volume_heatcarrier_plan_3" class="data-value" disabled></td>
			</tr>
			<tr>
				<td>Цена (тариф) на теплоноситель, <span class="data-unit">руб./м<sup>3</sup></span></td>
				<td><input type="text" asp-for="@Model.price_heatcarrier_fact_1" class="data-value" disabled></td>
				<td><input type="text" asp-for="@Model.price_heatcarrier_fact_2" class="data-value" disabled></td>
				<td><input type="text" asp-for="@Model.price_heatcarrier_fact_3" class="data-value" disabled></td>
				<td><input type="text" asp-for="@Model.price_heatcarrier_plan_1" class="data-value" disabled></td>
				<td><input type="text" asp-for="@Model.price_heatcarrier_plan_2" class="data-value" disabled></td>
				<td><input type="text" asp-for="@Model.price_heatcarrier_plan_3" class="data-value" disabled></td>
			</tr>
		</tbody>
	</table>
	<button type="submit" class="bttn bttn-color ms-auto" @disable>Сохранить</button>
</form>