@model List<WebProject.Areas.TSO.Models.TZTariffSteamTabModel>
@{
    Layout = null;
    int cnt_columns = 74;
}
<div class="table-block">
    <div class="table-buttons tzTariffSteamTable-buttons"></div>
    <table id="tzTariffSteamTable" class="display compact table-clicked" style="width:100%">
        <thead>
            <tr>
                <th rowspan="3">УНОМ ТЗ</th>
                <th rowspan="3">Территория действия тарифной зоны</th>
                <th rowspan="3">КОД ТСО</th>
                <th rowspan="3">Наименование ТСО</th>
                <th rowspan="3">
                    Виды регулируемой деятельности
                    <a class="info" data-bs-toggle="tooltip" data-bs-custom-class="info-tooltip" data-bs-html="true"
                       data-bs-title='<ul class="list-unstyled">
                                    <li>К > 25 - Комбинированное производство, более 25 МВт</li>
                                    <li>К < 25 - Комбинированное производство, менее 25 МВт</li>
                                    <li>НК - Некомбинированное производство</li>
                                    <li>П - Передача</li>
                                    <li>С - Сбыт</li>
                                    <li>ДП - Договор поставки</li>
                                </ul>'
                    </a>
                </th>
                <th colspan="12">Давление пара от 1,2 до 2,5 кгс/см2</th>
                <th colspan="12">Давление пара от 2,5 до 7 кгс/см2</th>
                <th colspan="12">Давление пара от 7 до 13 кгс/см2</th>
                <th colspan="12">Давление пара более 13 кгс/см2</th>
                <th rowspan="3">Объём перекрёстного субсидирования (всего), тыс. руб.</th>
                <th colspan="3">Тариф ЕТО, руб./Гкал без НДС</th>
                <th colspan="3">Тариф с учётом возмещения / компенсации / субсидирования организации, руб./Гкал без НДС</th>
                <th colspan="3">Льготный тариф, руб./Гкал без НДС</th>
                <th rowspan="3">Тариф на теплоноситель, руб./т без НДС</th>
                <th colspan="2">Бюджетные потребители</th>
                <th colspan="2">Население</th>
                <th colspan="2">Прочие</th>
                <th colspan="4">Решение/протокол</th>
            </tr>
            <tr>
                <th rowspan="2">Экономически обоснованный тариф, руб./Гкал без НДС</th>
                <th rowspan="2">Объем реализации услуги, всего, Гкал/год</th>
                <th rowspan="2">Средневзвешенный тариф с учётом инвестиционной составляющей, руб./Гкал без НДС</th>
                <th rowspan="2">Инвестиционная составляющая, руб./Гкал без НДС</th>
                <th colspan="2">Тарифы для ТСО-перепродавцы, руб./Гкал без НДС</th>
                <th colspan="2">Бюджетные потребители</th>
                <th colspan="2">Население</th>
                <th colspan="2">Прочие потребители</th>
                <th rowspan="2">Экономически обоснованный тариф, руб./Гкал без НДС</th>
                <th rowspan="2">Объем реализации услуги, всего, Гкал/год</th>
                <th rowspan="2">Средневзвешенный тариф с учётом инвестиционной составляющей, руб./Гкал без НДС</th>
                <th rowspan="2">Инвестиционная составляющая, руб./Гкал без НДС</th>
                <th colspan="2">Тарифы для ТСО-перепродавцы, руб./Гкал без НДС</th>
                <th colspan="2">Бюджетные потребители</th>
                <th colspan="2">Население</th>
                <th colspan="2">Прочие потребители</th>
                <th rowspan="2">Экономически обоснованный тариф, руб./Гкал без НДС</th>
                <th rowspan="2">Объем реализации услуги, всего, Гкал/год</th>
                <th rowspan="2">Средневзвешенный тариф с учётом инвестиционной составляющей, руб./Гкал без НДС</th>
                <th rowspan="2">Инвестиционная составляющая, руб./Гкал без НДС</th>
                <th colspan="2">Тарифы для ТСО-перепродавцы, руб./Гкал без НДС</th>
                <th colspan="2">Бюджетные потребители</th>
                <th colspan="2">Население</th>
                <th colspan="2">Прочие потребители</th>
                <th rowspan="2">Экономически обоснованный тариф, руб./Гкал без НДС</th>
                <th rowspan="2">Объем реализации услуги, всего, Гкал/год</th>
                <th rowspan="2">Средневзвешенный тариф с учётом инвестиционной составляющей, руб./Гкал без НДС</th>
                <th rowspan="2">Инвестиционная составляющая, руб./Гкал без НДС</th>
                <th colspan="2">Тарифы для ТСО-перепродавцы, руб./Гкал без НДС</th>
                <th colspan="2">Бюджетные потребители</th>
                <th colspan="2">Население</th>
                <th colspan="2">Прочие потребители</th>
                <th rowspan="2">Бюджетные потребители</th>
                <th rowspan="2">Население</th>
                <th rowspan="2">Прочие</th>
                <th rowspan="2">Бюджетные потребители</th>
                <th rowspan="2">Население</th>
                <th rowspan="2">Прочие</th>
                <th rowspan="2">Бюджетные потребители</th>
                <th rowspan="2">Население</th>
                <th rowspan="2">Прочие</th>
                <th rowspan="2">Объём дотаций из всех уровней бюджета, тыс. руб.</th>
                <th rowspan="2">Удельная величина дотаций, руб./Гкал</th>
                <th rowspan="2">Объём дотаций из всех уровней бюджета, тыс. руб.</th>
                <th rowspan="2">Удельная величина дотаций, руб./Гкал</th>
                <th rowspan="2">Объём дотаций из всех уровней бюджета, тыс. руб.</th>
                <th rowspan="2">Удельная величина дотаций, руб./Гкал</th>
                <th colspan="2">Решение</th>
                <th colspan="2">Протокол</th>
            </tr>
            <tr>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Одноставочный тариф</th>
                <th>Объем реализации услуги, всего, Гкал/год</th>
                <th>Номер</th>
                <th>Дата</th>
                <th>Номер</th>
                <th>Дата</th>
            </tr>
            <tr class="filter-row ">
                @for (int i = 0; i < @cnt_columns; i++)
                {
                    if (i == 0)
                    {
                        <th class="dtfc-fixed-left" style="left:0; position:sticky;"><input type="text" class="filter-col-0" /></th>
                    }
                    else
                    {
                        <th><input type="text" class="filter-col-@i" /></th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var tz_list in Model)
            {
                <tr ondblclick="OpenPopupTariffConnection(@tz_list.tz_id, @tz_list.perspective_year, '/TSO/TariffConnection/OpenTariffConnection', 'TZTariffConnectionDataPopup');">
                    <td>@tz_list.unom_tz</td>
                    <td>@tz_list.territory</td>
                    <td>@tz_list.code_tso</td>
                    <td>@tz_list.short_name</td>
                    <td>@tz_list.activity_types</td>
                    <td>@tz_list.tariff_econom_justified_1</td>
                    <td>@tz_list.service_sold_value_1</td>
                    <td>@tz_list.tariff_weighted_invest_1</td>
                    <td>@tz_list.invest_component_1</td>
                    <td>@tz_list.tso_single_tariff_1</td>

                    <td>@tz_list.volume_he_tso_1</td>
                    <td>@tz_list.budgetcons_single_tariff_1</td>
                    <td>@tz_list.volume_he_budgetcons_1</td>
                    <td>@tz_list.public_single_tariff_1</td>
                    <td>@tz_list.volume_he_public_1</td>

                    <td>@tz_list.other_single_tariff_1</td>
                    <td>@tz_list.volume_he_other_1</td>
                    <td>@tz_list.tariff_econom_justified_2</td>
                    <td>@tz_list.service_sold_value_2</td>
                    <td>@tz_list.tariff_weighted_invest_2</td>

                    <td>@tz_list.invest_component_2</td>
                    <td>@tz_list.tso_single_tariff_2</td>
                    <td>@tz_list.volume_he_tso_2</td>
                    <td>@tz_list.budgetcons_single_tariff_2</td>
                    <td>@tz_list.volume_he_budgetcons_2</td>

                    <td>@tz_list.public_single_tariff_2</td>
                    <td>@tz_list.volume_he_public_2</td>
                    <td>@tz_list.other_single_tariff_2</td>
                    <td>@tz_list.volume_he_other_2</td>
                    <td>@tz_list.tariff_econom_justified_3</td>

                    <td>@tz_list.service_sold_value_3</td>
                    <td>@tz_list.tariff_weighted_invest_3</td>
                    <td>@tz_list.invest_component_3</td>
                    <td>@tz_list.tso_single_tariff_3</td>
                    <td>@tz_list.volume_he_tso_3</td>

                    <td>@tz_list.budgetcons_single_tariff_3</td>
                    <td>@tz_list.volume_he_budgetcons_3</td>
                    <td>@tz_list.public_single_tariff_3</td>
                    <td>@tz_list.volume_he_public_3</td>
                    <td>@tz_list.other_single_tariff_3</td>

                    <td>@tz_list.volume_he_other_3</td>
                    <td>@tz_list.tariff_econom_justified_4</td>
                    <td>@tz_list.service_sold_value_4</td>
                    <td>@tz_list.tariff_weighted_invest_4</td>
                    <td>@tz_list.invest_component_4</td>

                    <td>@tz_list.tso_single_tariff_4</td>
                    <td>@tz_list.volume_he_tso_4</td>
                    <td>@tz_list.budgetcons_single_tariff_4</td>
                    <td>@tz_list.volume_he_budgetcons_4</td>
                    <td>@tz_list.public_single_tariff_4</td>

                    <td>@tz_list.volume_he_public_4</td>
                    <td>@tz_list.other_single_tariff_4</td>
                    <td>@tz_list.volume_he_other_4</td>
                    <td>@tz_list.cross_subsidy_volume</td>
                    <td>@tz_list.tariff_eto_budget_sum</td>

                    <td>@tz_list.tariff_eto_public_sum</td>
                    <td>@tz_list.tariff_eto_other_sum</td>
                    <td>@tz_list.tariff_compensation_budget_sum</td>
                    <td>@tz_list.tariff_compensation_public_sum</td>
                    <td>@tz_list.tariff_compensation_other_sum</td>

                    <td>@tz_list.tariff_preferential_budget_sum</td>
                    <td>@tz_list.tariff_preferential_public_sum</td>
                    <td>@tz_list.tariff_preferential_other_sum</td>
                    <td>@tz_list.heat_carrier_tariff</td>
                    <td>@tz_list.amount_grants_budget_sum_all</td>

                    <td>@tz_list.specific_grants_budget_sum</td>
                    <td>@tz_list.amount_grants_budget_sum</td>
                    <td>@tz_list.specific_grants_public_sum</td>
                    <td>@tz_list.amount_grants_other_sum</td>
                    <td>@tz_list.specific_grants_other_sum</td>

                    <td>@tz_list.decision_num</td>
                    <td>@tz_list.decision_date</td>
                    <td>@tz_list.protocol_num</td>
                    <td>@tz_list.protocol_date</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="data-row table-summary">
    <div class="data-item rows-count">
        <h5>Всего записей:</h5>
        <p><span class="mark-color" id="all_cnt_rows"></span></p>
    </div>
    <div class="data-table-block">
        <p class="data-item">Средневзвешенный тариф на тепловую энергию (г.в.): <span class="mark-color" id="cnt_sources"></span><span class="data-unit"> руб./Гкал без НДС</span></p>
        <p class="data-item">Средневзвешенный тариф на услуги по передаче: <span class="mark-color" id="cnt_hp_all"></span><span class="data-unit"> руб./Гкал без НДС</span></p>
    </div>
    <div class="data-block">
        <div class="data-table-block">
            <p class="data-item">Тариф ТСО-перепродавцы: <span class="mark-color" id="cnt_sources"></span><span class="data-unit"> руб./Гкал без НДС</span></p>
            <p class="data-item">Тариф бюджетнве потребители: <span class="mark-color" id="cnt_hp_all"></span><span class="data-unit"> руб./Гкал без НДС</span></p>
            <p class="data-item">Тариф население: <span class="mark-color" id="sum_length_net_channel_all"></span><span class="data-unit"> руб./Гкал без НДС</span></p>
            <p class="data-item">Тариф прочие потребители: <span class="mark-color" id="cnt_pump_stations"></span><span class="data-unit"> руб./Гкал без НДС</span></p>
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/hss/js/datatables_common_scripts.js")"></script>