@model List<WebProject.Areas.TSO.Models.TZCalcCostsNVVDataViewModel>
@{
	Layout = null;
	int cnt_columns = 110;
}
<div class="table-block">
	<div class="table-buttons tzNVVTable-buttons"></div>
	<input type="hidden" value="0" id="refresh_table" />
	<table id="tzNVVTable" class="display compact table-clicked" style="width:100%">
		<thead>
			<tr>
				<th rowspan="4">УНОМ ТЗ</th>
				<th rowspan="4">Территория действия тарифной зоны</th>
				<th rowspan="4">КОД ТСО</th>
				<th rowspan="4">Наименование ТСО</th>
				<th rowspan="4">
					Виды регулируемой деятельности
					<a class="info" data-bs-toggle="tooltip" data-bs-custom-class="info-tooltip" data-bs-html="true"
					   data-bs-title='<ul class="list-unstyled">
									<li>К > 25 - Комбинированное производство, более 25 МВт</li>
									<li>К < 25 - Комбинированное производство, менее 25 МВт</li>
									<li>НК - Некомбинированное производство</li>
									<li>П - Передача</li>
									<li>С - Сбыт</li>
									<li>ДП - Договор поставки</li>
								</ul>'
					</a>
				</th>
				<th rowspan="4">Полезный отпуск продукции (всего) (факт), Гкал</th>
				<th rowspan="4">Полезный отпуск продукции (всего), Гкал</th>
				<th rowspan="4">Полезный отпуск продукции на реализацию (всего) (факт), Гкал</th>
				<th rowspan="4">Полезный отпуск продукции на реализацию(всего), Гкал</th>
				<th rowspan="4">Коэффициент (доля) на реализацию потребителям (факт), %</th>
				<th rowspan="4">Коэффициент (доля) на реализацию потребителям, %</th>
				<th rowspan="4">Полезный отпуск продукции на реализацию потребителям без учёта перепродажи (факт), Гкал</th>
				<th rowspan="4">Полезный отпуск продукции на реализацию потребителям без учёта перепродажи, Гкал</th>
				<th rowspan="4">ВСЕГО расходы с учетом расходов из прибыли (факт), тыс. руб.</th>
				<th colspan="15">Расходы (факт), тыс. руб.</th>
				<th rowspan="4">Убыток (факт), тыс. руб.</th>
				<th colspan="6">Прибыль (факт), тыс. руб.</th>
				<th rowspan="4">Рентабельность (факт), %</th>
				<th rowspan="4">НВВ на реализацию, тыс. руб. без НДС</th>
				<th rowspan="4">НВВ, тыс. руб. без НДС</th>
				<th colspan="15">Расходы, тыс. руб.</th>
				<th rowspan="4">Недополученные доходы / Выпадающие расходы, тыс. руб.</th>
				<th rowspan="4">Избыток средств, полученный за отчётные периоды регулирования, тыс. руб.</th>
				<th rowspan="4">Перекрёстное субсидирование, тыс. руб.</th>
				<th colspan="10">Прибыль, тыс. руб.</th>
				<th colspan="12">Объем и финансирование капитальных вложений, тыс. руб.</th>
				<th colspan="6">Экономия расходов, тыс. руб.</th>
				<th colspan="24">Корректировка НВВ, тыс. руб.</th>
				<th rowspan="4">Рентабельность, %</th>
			</tr>
			<tr>
				<th rowspan="3">ИТОГО расходов на реализацию</th>
				<th colspan="2">включая</th>
				<th rowspan="3">ИТОГО расходов</th>
				<th colspan="2">включая</th>
				<th colspan="9">в том числе</th>
				<th rowspan="3">ВСЕГО</th>
				<th rowspan="3">ВСЕГО (расчетная)</th>
				<th colspan="4">в том числе</th>
				<th rowspan="3">ИТОГО расходов на реализацию</th>
				<th colspan="2">включая</th>
				<th rowspan="3">ИТОГО расходов</th>
				<th colspan="2">включая</th>
				<th colspan="9">в том числе</th>
				<th rowspan="3">ИТОГО прибыль</th>
				<th colspan="2">расчётная предпринимательская прибыль</th>
				<th colspan="7">нормативная прибыль / капитальные вложения / ивестиции</th>
				<th rowspan="3">объём капитальных вложений (всего)</th>
				<th colspan="11">финансирование капитальных вложения</th>
				<th rowspan="3">экономия расходов (всего), тыс. руб.</th>
				<th colspan="2">экономия расходов на энергетические ресурсы</th>
				<th colspan="2">экономия операционных расходов</th>
				<th rowspan="3">экономия неподконтрольных расходов</th>
				<th rowspan="3">суммарная корректировка НВВ</th>
				<th colspan="3">индексы</th>
				<th colspan="6">метод индексации</th>
				<th colspan="12">метод доходности инвестированного капитала</th>
				<th colspan="2">метод сравнения аналогов</th>
			</tr>
			<tr>
				<th rowspan="2">на производство тепловой энергии</th>
				<th rowspan="2">на транспорт тепловой энергии</th>
				<th rowspan="2">на производство тепловой энергии</th>
				<th rowspan="2">на транспорт тепловой энергии</th>
				<th colspan="3">расходы на энергетические ресурсы</th>
				<th colspan="3">операционные расходы</th>
				<th colspan="3">неподконтрольные расходы</th>
				<th rowspan="2">на развитие производства (капитальные вложения)</th>
				<th rowspan="2">на социальное развитие</th>
				<th rowspan="2">на поощрение</th>
				<th rowspan="2">на прочие цели</th>
				<th rowspan="2">на производство тепловой энергии</th>
				<th rowspan="2">на транспорт тепловой энергии</th>
				<th rowspan="2">на производство тепловой энергии</th>
				<th rowspan="2">на транспорт тепловой энергии</th>
				<th colspan="3">расходы на энергетические ресурсы</th>
				<th colspan="3">операционные расходы</th>
				<th colspan="3">неподконтрольные расходы</th>
				<th rowspan="2">норма прибыли, %</th>
				<th rowspan="2">всего, тыс. руб.</th>
				<th colspan="2">СПРАВОЧНО нормативный уровень прибыли</th>
				<th rowspan="2">всего нормативная прибыль / ивестиции</th>
				<th rowspan="2">средства на возврат займов и кредитов</th>
				<th colspan="2">расходы на капитальные вложения (инвестиции)</th>
				<th rowspan="2">экономически обоснованные расходы на выплаты</th>
				<th rowspan="2">финансирование (всего)</th>
				<th colspan="3">амортизационные отчисления на полное восстановление основных фондов (100%)</th>
				<th rowspan="2">неиспользованные средства на начало года</th>
				<th rowspan="2">прибыль</th>
				<th rowspan="2">бюджетные средства</th>
				<th rowspan="2">прочие источники</th>
				<th rowspan="2">займы и кредиты</th>
				<th rowspan="2">реализация ценных бумаг</th>
				<th rowspan="2">плата за подключение</th>
				<th rowspan="2">всего нарастающим итогом</th>
				<th rowspan="2">прирост в текущем году</th>
				<th rowspan="2">всего нарастающим итогом</th>
				<th rowspan="2">прирост в текущем году</th>
				<th rowspan="2">эффективности расходов, %</th>
				<th rowspan="2">потребительских цен, %</th>
				<th rowspan="2">количества активов, %</th>
				<th rowspan="2">Результаты деятельности до перехода на долгосрочные параметры регулирования</th>
				<th rowspan="2">корректировка НВВ (всего)</th>
				<th colspan="4">в том числе:</th>
				<th rowspan="2">корректировка НВВ (всего)</th>
				<th colspan="3">возврат капитала</th>
				<th colspan="7">доход на инвестиционный капитал</th>
				<th rowspan="2">амортизация, тыс. руб.</th>
				<th rowspan="2">корректировка НВВ с учётом отклонения фактических значений ИПЦ</th>
				<th rowspan="2">базовый уровень расходов, связанных с осуществлением регулируемой деятельности</th>
			</tr>
			<tr>
				<th>всего</th>
				<th>на производство тепловой энергии</th>
				<th>на транспорт тепловой энергии</th>
				<th>всего</th>
				<th>на производство тепловой энергии</th>
				<th>на транспорт тепловой энергии</th>
				<th>всего</th>
				<th>на производство тепловой энергии</th>
				<th>на транспорт тепловой энергии</th>
				<th>всего</th>
				<th>на производство тепловой энергии</th>
				<th>на транспорт тепловой энергии</th>
				<th>всего</th>
				<th>на производство тепловой энергии</th>
				<th>на транспорт тепловой энергии</th>
				<th>всего</th>
				<th>на производство тепловой энергии</th>
				<th>на транспорт тепловой энергии</th>
				<th>норма прибыли, %</th>
				<th>всего, тыс. руб.</th>
				<th>норма доходности, %</th>
				<th>всего, тыс. руб.</th>
				<th>всего</th>
				<th>амортизационные отчисления</th>
				<th>за счёт переоценки основных средств и нематериальных активов</th>
				<th>с целью учёта отклонений</th>
				<th>с учётом надежности и качества реализуемых товаров</th>
				<th>в связи с изменением (неисполнением) инвестиционной программы</th>
				<th>учет отклонений показателей энергосбережения и повышения энергетической эффективности</th>
				<th>всего, тыс. руб.</th>
				<th>полная величина инвестированного капитала, тыс. руб.</th>
				<th>срок возврата инвестированного капитала, лет</th>
				<th>всего, тыс. руб.</th>
				<th>первоначальный инвестированный капитал, тыс. руб.</th>
				<th>доходность первоначального капитала, %</th>
				<th>база инвестированного капитала, тыс. руб.</th>
				<th>чистый оборотный капитал, тыс. руб.</th>
				<th>норматив чистого оборотного капитала, %</th>
				<th>норма доходности, %</th>
			</tr>
			<tr class="filter-row ">
				@for (int i = 0; i < @cnt_columns; i++)
				{
					if (i == 0)
					{
						<th class="dtfc-fixed-left" style="left:0; position:sticky;"><input type="text" class="filter-col-0" /></th>
					}
					else
					{
						<th><input type="text" class="filter-col-@i" /></th>
					}
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var tz_list in Model)
			{
				<tr ondblclick="OpenPopupCostsPrices(@tz_list.tz_id, @tz_list.perspective_year, '/TSO/CostsAndPrices/OpenNVV', 'TZCostsPricesDataPopup');">
					<td>@tz_list.unom_tz</td>
					<td>@tz_list.territory</td>
					<td>@tz_list.code_tso</td>
					<td>@tz_list.short_name</td>
					<td>@tz_list.activity_types</td>
					<td>@tz_list.useful_release_heat_energy_fact</td>
					<td>@tz_list.useful_release_heat_energy_plan</td>
					<td>@tz_list.useful_release_heat_energy_realize_fact</td>
					<td>@tz_list.useful_release_heat_energy_realize_plan</td>
					<td>@tz_list.coef_realize_consumers_fact</td>
					<td>@tz_list.coef_realize_consumers_plan</td>
					<td>@tz_list.useful_release_heat_energy_realize_without_sale_fact</td>
					<td>@tz_list.useful_release_heat_energy_realize_without_sale_plan</td>
					<td>@tz_list.costs_all_with_profit_fact</td>
					<td>@tz_list.costs_all_realize_fact</td>
					<td>@tz_list.costs_all_onproduct_realize_fact</td>
					<td>@tz_list.costs_all_ontransport_realize_fact</td>
					<td>@tz_list.costs_all_fact</td>
					<td>@tz_list.costs_all_onproduct_fact</td>
					<td>@tz_list.costs_all_ontransport_fact</td>
					<td>@tz_list.costs_all_energy_resources_fact</td>
					<td>@tz_list.costs_all_energy_resources_onproduct_fact</td>
					<td>@tz_list.costs_all_energy_resources_ontransport_fact</td>
					<td>@tz_list.costs_all_operating_fact</td>
					<td>@tz_list.costs_all_operating_onproduct_fact</td>
					<td>@tz_list.costs_all_operating_ontransport_fact</td>
					<td>@tz_list.costs_all_uncontroll_fact</td>
					<td>@tz_list.costs_all_uncontroll_onproduct_fact</td>
					<td>@tz_list.costs_all_uncontroll_ontransport_fact</td>
					<td>@tz_list.loss_fact</td>
					<td>@tz_list.profit_all_fact</td>
					<td>@tz_list.calc_profit_fact</td>
					<td>@tz_list.profit_prod_develop_fact</td>
					<td>@tz_list.profit_social_develop_fact</td>
					<td>@tz_list.profit_stimul_fact</td>
					<td>@tz_list.profit_other_needs_fact</td>
					<td>@tz_list.profitability_fact</td>
					<td>@tz_list.nvv_onrealize_plan</td>
					<td>@tz_list.nvv_all_plan</td>
					<td>@tz_list.costs_all_realize_plan</td>
					<td>@tz_list.costs_all_onproduct_realize_plan</td>
					<td>@tz_list.costs_all_ontransport_realize_plan</td>
					<td>@tz_list.costs_all_plan</td>
					<td>@tz_list.costs_all_onproduct_plan</td>
					<td>@tz_list.costs_all_ontransport_plan</td>
					<td>@tz_list.costs_all_energy_resources_plan</td>
					<td>@tz_list.costs_all_energy_resources_onproduct_plan</td>
					<td>@tz_list.costs_all_energy_resources_ontransport_plan</td>
					<td>@tz_list.costs_all_operating_plan</td>
					<td>@tz_list.costs_all_operating_onproduct_plan</td>
					<td>@tz_list.costs_all_operating_ontransport_plan</td>
					<td>@tz_list.costs_all_uncontroll_plan</td>
					<td>@tz_list.costs_all_uncontroll_onproduct_plan</td>
					<td>@tz_list.costs_all_uncontroll_ontransport_plan</td>
					<td>@tz_list.lost_revenue_all_plan</td>
					<td>@tz_list.excess_funds_plan</td>
					<td>@tz_list.cross_subsidy_all_plan</td>
					<td>@tz_list.profit_all_plan</td>
					<td>@tz_list.calc_norm_profit_plan</td>
					<td>@tz_list.calc_enterprising_profit_plan</td>
					<td>@tz_list.regular_lvl_profit_percent_plan</td>
					<td>@tz_list.regular_lvl_profit_plan</td>
					<td>@tz_list.regulatory_profit_plan</td>
					<td>@tz_list.funds_repayment_credit_plan</td>
					<td>@tz_list.return_rate_plan</td>
					<td>@tz_list.cost_capital_invest_plan</td>
					<td>@tz_list.cost_economic_pay_plan</td>
					<td>@tz_list.capital_investment_all_plan</td>
					<td>@tz_list.finance_capital_investment_all_plan</td>
					<td>@tz_list.amortisation_deduction_fonds_plan</td>
					<td>@tz_list.full_recovery_fonds</td>
					<td>@tz_list.amortisation_deduction_nonmaterial_active_plan</td>
					<td>@tz_list.finance_by_nonused_funds_plan</td>
					<td>@tz_list.finance_by_profit_plan</td>
					<td>@tz_list.finance_budjet_all_plan</td>
					<td>@tz_list.finance_by_other_sources_plan</td>
					<td>@tz_list.finance_by_credits_plan</td>
					<td>@tz_list.finance_by_realize_securities_plan</td>
					<td>@tz_list.finance_by_connection_charge_plan</td>
					<td>@tz_list.economy_costs_all</td>
					<td>@tz_list.economy_all_plan</td>
					<td>@tz_list.increase_economy_all_plan</td>
					<td>@tz_list.economy_operation_cost_plan</td>
					<td>@tz_list.increase_economy_operation_cost_plan</td>
					<td>@tz_list.total_economy_noncontrol_cost_plan</td>
					<td>@tz_list.total_correction_nvv_all_methods_plan</td>
					<td>@tz_list.index_effective_cost</td>
					<td>@tz_list.index_consumers_price</td>
					<td>@tz_list.index_count_actives</td>
					<td>@tz_list.result_activity_before_reg_price_plan</td>
					<td>@tz_list.total_correction_nvv_plan</td>
					<td>@tz_list.correct_accounting_deviation_plan</td>
					<td>@tz_list.correct_safety_quality_product_plan</td>
					<td>@tz_list.correct_nvv_change_invest_prog_plan</td>
					<td>@tz_list.correct_subj_accounting_nvv_plan</td>
					<td>@tz_list.total_correction_nvv_mB_plan</td>
					<td>@tz_list.return_capital_plan</td>
					<td>@tz_list.full_value_invest_plan</td>
					<td>@tz_list.return_period_invest_plan</td>
					<td>@tz_list.profit_on_invest_capital_plan</td>
					<td>@tz_list.initial_amount_invest_plan</td>
					<td>@tz_list.profit_initial_amount_invest_plan</td>
					<td>@tz_list.base_invest_plan</td>
					<td>@tz_list.pure_working_capital_plan</td>
					<td>@tz_list.norm_pure_working_capital_plan</td>
					<td>@tz_list.norm_profit_plan</td>
					<td>@tz_list.amortization_plan</td>
					<td>@tz_list.correct_nvv_accounting_deviation_plan</td>
					<td>@tz_list.baseline_cost_reg_managed_plan</td>
					<td>@tz_list.profitability_plan</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="data-row table-summary">
	<div class="data-item rows-count">
		<h5>Всего записей:</h5>
		<p><span class="mark-color" id="all_cnt_rows"></span></p>
	</div>
	<div class="data-block">
		<h5>НВВ:</h5>
		<div class="data-table-block">
			<p class="data-item">план - <span class="mark-color" id="nvv_plan"></span><span class="data-unit"> тыс.руб.; </span><span class="mark-color" id="nvv_plan_2"></span><span class="data-unit"> руб./Гкал</span></p>
			<p class="data-item">факт - <span class="mark-color" id="nvv_fact"></span><span class="data-unit"> тыс.руб.; </span><span class="mark-color" id="nvv_fact_2"></span><span class="data-unit"> руб./Гкал</span></p>
		</div>
	</div>
	<div class="data-block">
		<h5>Расходы всего:</h5>
		<div class="data-table-block">
			<p class="data-item">план - <span class="mark-color" id="costs_all_plan"></span><span class="data-unit"> тыс.руб.; </span><span class="mark-color" id="costs_all_plan_2"></span><span class="data-unit"> руб./Гкал</span></p>
			<p class="data-item">факт - <span class="mark-color" id="costs_all_fact"></span><span class="data-unit"> тыс.руб.; </span><span class="mark-color" id="costs_all_fact_2"></span><span class="data-unit"> руб./Гкал</span></p>
		</div>
	</div>
	<div class="data-block">
		<h5>Прибыль (+) / убыток (-):</h5>
		<div class="data-table-block">
			<p class="data-item">план - <span class="mark-color" id="profit_loss_plan"></span><span class="data-unit"> тыс.руб.; </span><span class="mark-color" id="profit_loss_plan_2"></span><span class="data-unit"> руб./Гкал</span></p>
			<p class="data-item">факт - <span class="mark-color" id="profit_loss_fact"></span><span class="data-unit"> тыс.руб.; </span><span class="mark-color" id="profit_loss_fact_2"></span><span class="data-unit"> руб./Гкал</span></p>
		</div>
	</div>
	<div class="data-block">
		<h5>Рентабельность:</h5>
		<div class="data-table-block">
			<p class="data-item">план - <span class="mark-color" id="profitability_plan"></span><span class="data-unit"> тыс.руб.; </span><span class="mark-color" id="profitability_plan_2"></span><span class="data-unit"> руб./Гкал</span></p>
			<p class="data-item">факт - <span class="mark-color" id="profitability_fact"></span><span class="data-unit"> тыс.руб.; </span><span class="mark-color" id="profitability_fact_2"></span><span class="data-unit"> руб./Гкал</span></p>
		</div>
	</div>
</div>
<script type="text/javascript" src="@Url.Content("~/hss/js/datatables_common_scripts.js")"></script>