@model WebProject.Areas.TSO.Models.TZMethodAnaloguesComparisonViewModel
@{
	Layout = null; string disable = "";
}
@if (Model.tz_id == 0)
{
	disable = "disabled";
}
<form asp-controller="CostsAndPrices" asp-action="TZMethodAnaloguesComparisonNVV_Save" asp-antiforgery="true" asp-area="TSO"
	  data-ajax-failure="onFailedFormTZ" data-ajax-success="onSuccessFormTZ" data-ajax-begin="onBeginFormTZ" data-ajax="true" data-ajax-method="POST">
	<input type="hidden" name="tz_id" value="@Model.tz_id" />
	<input type="hidden" name="data_status" value="@Model.data_status" />
	<input type="hidden" name="perspective_year" value="@Model.perspective_year" />
	<table class="table-inp-stretch" style="width:100%;">
		<thead>
			<tr>
				<th rowspan="2"></th>
				<th colspan="3">План</th>
			</tr>
			<tr>
				<th>I полугодие</th>
				<th>II полугодие</th>
				<th>Год</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Корректировка НВВ с учётом отклонения фактических и плановых значений ИПЦ, <span class="data-unit">тыс. руб.</span></td>
				<td><input type="text" asp-for="@Model.correct_nvv_accounting_deviation_plan_1" class="data-value double" data-double="method_analogues_comparison"></td>
				<td><input type="text" asp-for="@Model.correct_nvv_accounting_deviation_plan_2" class="data-value double" data-double="method_analogues_comparison"></td>
				<td><input type="text" asp-for="@Model.correct_nvv_accounting_deviation_plan_3" class="data-value" disabled></td>
			</tr>
			<tr>
				<td>Базовый уровень расходов, связанных с осуществлением регулируемой деятельности, <span class="data-unit">тыс. руб.</span></td>
				<td><input type="text" asp-for="@Model.baseline_cost_reg_managed_plan_1" class="data-value double" data-double="method_analogues_comparison"></td>
				<td><input type="text" asp-for="@Model.baseline_cost_reg_managed_plan_2" class="data-value double" data-double="method_analogues_comparison"></td>
				<td><input type="text" asp-for="@Model.baseline_cost_reg_managed_plan_3" class="data-value" disabled></td>
			</tr>
		</tbody>
	</table>
	<button type="submit" class="bttn bttn-color ms-auto" @disable>Сохранить</button>
</form>