@model List<WebProject.Areas.DictionaryTables.Models.PumpsViewmodel>
@{
	int cnt_columns = 5;
}

<h3>Насосы</h3>
<div class="table-block">
	<input type="hidden" value="0" id="refresh_Pumps_table" />
	<div class="table-buttons PumpsTable-buttons"></div>
	<table id="PumpsTable" class="display compact table-clicked" style="width:100%">
		<thead>
			<tr>
				<th>УНОМ Насоса</th>
				<th>Марка оборудования</th>
				<th>Завод изготовитель</th>
				<th>Производительность<span class="data-unit">(м<sup>3</sup>/ч)</span></th>
				<th>Напор сетевой воды<span class="data-unit">(м вод. ст.)</span></th>
			</tr>
			<tr class="filter-row ">
				@for (int i = 0; i < @cnt_columns; i++)
				{
					if (i == 0)
					{
						<th class="dtfc-fixed-left" style="left:0; position:sticky;"><input type="text" class="filter-col-0" /></th>
					}
					else
					{
						<th><input type="text" class="filter-col-@i" /></th>
					}
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var pump in Model)
            {
				<tr onclick="OpenPopup(@pump.equip_id, 'OpenPopupPumps', 'PumpsDataPopup')">
				<td>@pump.unom_equip</td>
				<td>@pump.mark</td>
				<td>@pump.manufacturer</td>
				<td>@pump.capacity</td>
				<td>@pump.pump_press</td>
			</tr>
			}
		</tbody>
	</table>
</div>
<div class="data-row table-summary">
	<div class="data-item rows-count">
		<h5>Всего записей:</h5>
		<p><span class="mark-color" id="all_cnt_rows"></span></p>
	</div>
</div>
<script type="text/javascript" src="@Url.Content("~/hss/js/datatables_common_scripts.js")"></script>		