@model WebProject.Areas.TSO.Models.TZOneCalcCostsDataViewModel

@{
	string btn_disable = string.Empty; int ds = @Model.data_status - 1; string is_checked = string.Empty;
}
@if (Model.tz_id == 0)
{
	btn_disable = "disabled";
}

<div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-header">
			<h3 class="modal-title" id="editDataLabel">Необходимая валовая выручка (НВВ) организации ТСО</h3>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="RefreshTable();"></button>
		</div>
		<div class="modal-body">
			<div class="data-block static-block data-params">
				<div class="data-row">
					<div class="data-item">
						<label class="data-label">Наименование ТСО</label>
						<select class="selectpicker data-value xxl-stretch" id="paramNumberTZ" data-live-search="true" placeholder="УНОМ ТЗ - краткое наименование ТСО">
							@foreach (var tz_list in ViewBag.TZTSOList)
							{
								if (tz_list.tz_id == Model.tz_id)
								{
									<option value="@tz_list.tz_id" selected>@tz_list.tz_name</option>
								}
								if (tz_list.tz_id != Model.tz_id)
								{
									<option value="@tz_list.tz_id">@tz_list.tz_name</option>
								}
							}
						</select>
					</div>
					<div class="data-item">
						<label for="p_year_pop_cp" class="data-label">Расчётный год:</label>
						<select class="selectpicker md-fix" id="p_year_pop_cp">
							@foreach (var p_years_list in ViewBag.PerspectiveYearsList)
							{
								if (p_years_list.perspective_year == Model.perspective_year)
								{
									<option value="@p_years_list.perspective_year" selected>@p_years_list.perspective_year_dt</option>
								}
								if (p_years_list.perspective_year != Model.perspective_year)
								{
									<option value="@p_years_list.perspective_year">@p_years_list.perspective_year_dt</option>
								}
							}
						</select>
					</div>
					<div class="data-item">
						<div class="note">Базовый год - <span class="note-base-year">@ds (01.01.@Model.data_status)</span>.</div>
					</div>
				</div>
				<div class="data-row">
					<div class="data-block stretch">
						<div class="data-row border-block">
							<h5>Виды деятельности в границах ТЗ:</h5>
							<div class="data-block stretch">
								<label class="data-item data-item-right">
									<span class="data-label">Комбинированное производство, более 25 МВт</span>
									<input type="checkbox" class="data-check" disabled @Model.combine_prod_more25>
								</label>
								<label class="data-item data-item-right">
									<span class="data-label">Комбинированное производство, менее 25 МВт</span>
									<input type="checkbox" class="data-check" disabled @Model.combine_prod_less25>
								</label>
							</div>
							<div class="data-block stretch">
								<label class="data-item data-item-right">
									<span class="data-label">Некомбинированное производство</span>
									<input type="checkbox" class="data-check" disabled @Model.not_combine_prod>
								</label>
								<label class="data-item data-item-right">
									<span class="data-label">Договор поставки</span>
									<input type="checkbox" class="data-check" disabled @Model.delivery_contract>
								</label>
							</div>
							<div class="data-block stretch">
								<label class="data-item data-item-right">
									<span class="data-label">Передача</span>
									<input type="checkbox" class="data-check" disabled @Model.transfer>
								</label>
								<label class="data-item data-item-right">
									<span class="data-label">Сбыт</span>
									<input type="checkbox" class="data-check" disabled @Model.sale>
								</label>
							</div>
						</div>
						<div class="data-item">
							<label class="data-label">Территория действия ТЗ</label>
							<input type="text" value="@Model.tz_territory" class="data-value xxl-stretch" disabled>
						</div>
					</div>
					<div class="data-block data-xxl-row">
						<h4>Дифференциация тарифов</h4>
						<label class="data-item data-item-right">
							<span class="data-label">без дифференциации</span>
							@{
								is_checked = Model.tariff_differentiation == 1 ? "checked" : "";
							}
							<input type="checkbox" class="data-check" disabled @is_checked>
						</label>
						<label class="data-item data-item-right">
							<span class="data-label">до тепловых пунктов</span>
							@{
								is_checked = Model.tariff_differentiation == 2 ? "checked" : "";
							}
							<input type="checkbox" class="data-check" disabled @is_checked>
						</label>
						<label class="data-item data-item-right">
							<span class="data-label">после тепловых пунктов</span>
							@{
								is_checked = Model.tariff_differentiation == 3 ? "checked" : "";
							}
							<input type="checkbox" class="data-check" disabled @is_checked>
						</label>
					</div>
				</div>
				<div class="data-block border-block">
					<div class="scroll-table-wrapper">
						<table class="table-inp-stretch" style="width:100%;">
							<tbody>
								<tr>
									<td>Года</td>
									<td><input type="text" name="" class="data-value" disabled value="01.01.2018"></td>
									<td><input type="text" name="" class="data-value" disabled value="01.01.2019"></td>
									<td><input type="text" name="" class="data-value" disabled value="01.01.2020"></td>
									<td><input type="text" name="" class="data-value" disabled value="01.01.2021"></td>
									<td><input type="text" name="" class="data-value" disabled value="01.01.2022"></td>
									<td><input type="text" name="" class="data-value" disabled value="01.01.2023"></td>
									<td><input type="text" name="" class="data-value" disabled value="01.01.2024"></td>
									<td><input type="text" name="" class="data-value" disabled value="01.01.2025"></td>
									<td><input type="text" name="" class="data-value" disabled value="01.01.2026"></td>
								</tr>
								<tr>
									<td>НВВ, <span class="data-unit">тыс. руб.</span></td>
									<td><input type="text" name="" class="data-value"></td>
									<td><input type="text" name="" class="data-value"></td>
									<td><input type="text" name="" class="data-value"></td>
									<td><input type="text" name="" class="data-value"></td>
									<td><input type="text" name="" class="data-value" disabled></td>
									<td><input type="text" name="" class="data-value" disabled></td>
									<td><input type="text" name="" class="data-value" disabled></td>
									<td><input type="text" name="" class="data-value" disabled></td>
									<td><input type="text" name="" class="data-value" disabled></td>
								</tr>
								<tr>
									<td>НВВ по расчёту, <span class="data-unit">тыс. руб.</span></td>
									<td colspan="5"></td>
									<td><input type="text" name="" class="data-value" disabled></td>
									<td><input type="text" name="" class="data-value" disabled></td>
									<td><input type="text" name="" class="data-value" disabled></td>
									<td><input type="text" name="" class="data-value" disabled></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="scroll-block-wrapper" style="max-height: 42vh;">
				<div class="data-block scroll-block">
					<div class="accordion data-block">
						<div class="border-block">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel19" aria-expanded="false">Прибыль</button>
							<div id="panel19" class="accordion-collapse collapse">
								<div class="accordion-body">
									<div class="data-block">
										@await Component.InvokeAsync("TZ_ProfitNVVData_Partial", new { tz_id = Model.tz_id, data_status = Model.data_status, perspective_year = Model.perspective_year })
									</div>
								</div>
							</div>
						</div>
						<div class=" border-block">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel20" aria-expanded="false">Недополученные доходы / Выпадающие расходы</button>
							<div id="panel20" class="accordion-collapse collapse">
								<div class="accordion-body">
									<div class="data-block">
										@await Component.InvokeAsync("TZ_LostProfitOutCostsData_Partial", new { tz_id = Model.tz_id, data_status = Model.data_status, perspective_year = Model.perspective_year })
									</div>
								</div>
							</div>
						</div>
						<div class="border-block">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel21" aria-expanded="false">Избыток средств, полученный за отчётные периоды регулирования</button>
							<div id="panel21" class="accordion-collapse collapse">
								<div class="accordion-body">
									<div class="data-block">
										@await Component.InvokeAsync("TZ_ExcessFundsData_Partial", new { tz_id = Model.tz_id, data_status = Model.data_status, perspective_year = Model.perspective_year })
									</div>
								</div>
							</div>
						</div>
						<div class="border-block">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel22" aria-expanded="false">Объём и финансирование капитальных вложений</button>
							<div id="panel22" class="accordion-collapse collapse">
								<div class="accordion-body">
									<div class="data-block">
										@await Component.InvokeAsync("TZ_CapitalInvestmentData_Partial", new { tz_id = Model.tz_id, data_status = Model.data_status, perspective_year = Model.perspective_year })
									</div>
								</div>
							</div>
						</div>
						<div class="border-block">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel23" aria-expanded="false">Перекрёстное субсидирование</button>
							<div id="panel23" class="accordion-collapse collapse">
								<div class="accordion-body">
									<div class="data-block">
										@await Component.InvokeAsync("TZ_CrossSubsidyData_Partial", new { tz_id = Model.tz_id, data_status = Model.data_status, perspective_year = Model.perspective_year })
									</div>
								</div>
							</div>
						</div>
						<div class="border-block">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel24" aria-expanded="false">Экономия операционных и неподконтрольных расходов</button>
							<div id="panel24" class="accordion-collapse collapse">
								<div class="accordion-body">
									<div class="data-block">
										@await Component.InvokeAsync("TZ_EconomyCostsData_Partial", new { tz_id = Model.tz_id, data_status = Model.data_status, perspective_year = Model.perspective_year })
									</div>
								</div>
							</div>
						</div>
						<div class="border-block">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel25" aria-expanded="false">Метод индексации / Метод доходности инвестированного капитала / Метод сравнения аналогов</button>
							<div id="panel25" class="accordion-collapse collapse">
								<div class="accordion-body">
									<div class="data-block">
										@await Component.InvokeAsync("TZ_IndexesNVVData_Partial", new { tz_id = Model.tz_id, data_status = Model.data_status, perspective_year = Model.perspective_year })
										<div class="accordion data-block">
											<div class="border-block">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel25-1" aria-expanded="false">Метод индексации</button>
												<div id="panel25-1" class="accordion-collapse collapse">
													<div class="accordion-body">
														<div class="data-block">
															@await Component.InvokeAsync("TZ_MethodIndexationNVVData_Partial", new { tz_id = Model.tz_id, data_status = Model.data_status, perspective_year = Model.perspective_year })
														</div>
													</div>
												</div>
											</div>
											<div class=" border-block">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel25-2" aria-expanded="false">Метод доходности инвестированного капитала</button>
												<div id="panel25-2" class="accordion-collapse collapse">
													<div class="accordion-body">
														<div class="data-block">
															@await Component.InvokeAsync("TZ_MethodProfitInvestNVVData_Partial", new { tz_id = Model.tz_id, data_status = Model.data_status, perspective_year = Model.perspective_year })
														</div>
													</div>
												</div>
											</div>
											<div class="border-block">
												<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panel25-3" aria-expanded="false">Метод сравнения аналогов</button>
												<div id="panel25-3" class="accordion-collapse collapse">
													<div class="accordion-body">
														<div class="data-block">
															@await Component.InvokeAsync("TZ_MethodAnaloguesComparisonNVVData_Partial", new { tz_id = Model.tz_id, data_status = Model.data_status, perspective_year = Model.perspective_year })
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="@Url.Content("~/hss/js/popup_common_scripts.js")"></script>

<script type="text/javascript">

	$(document).ready(function () {

		document.querySelector('#paramNumberTZ').addEventListener('change', (event) => {
			OpenPopupCostsPrices($('#paramNumberTZ').val(), $('#p_year_pop_cp').val(), '/TSO/CostsAndPrices/OpenNVV', 'TZCostsPricesDataPopup');
		});

		document.querySelector('#p_year_pop_cp').addEventListener('change', (event) => {
			OpenPopupCostsPrices($('#paramNumberTZ').val(), $('#p_year_pop_cp').val(), '/TSO/CostsAndPrices/OpenNVV', 'TZCostsPricesDataPopup');
		});

	});

	function RefreshTable() {
		if ($("#refresh_table").val() === "1") {
			GetListOnPage();
		}
	}

</script>