@model List<WebProject.Areas.DictionaryTables.Models.ClarifierVPUViewmodel>
@{
	int cnt_columns = 5;
}

<h3>Осветлители ВПУ</h3>
<div class="table-block">
	<input type="hidden" value="0" id="refresh_ClarifierVPU_table" />
	<div class="table-buttons ClarifierVPUTable-buttons"></div>
	<table id="ClarifierVPUTable" class="display compact table-clicked" style="width:100%">
		<thead>
			<tr>
				<th>УНОМ осветлителя ВПУ</th>
				<th>Марка оборудования</th>
				<th>Производительность<span class="data-unit">м<sup>3</sup>/ч</span></th>
				<th>Объём<span class="data-unit">м<sup>3</sup></span></th>
				<th>Диаметр</th>
			</tr>
			<tr class="filter-row ">
				@for (int i = 0; i < @cnt_columns; i++)
				{
					if (i == 0)
					{
						<th class="dtfc-fixed-left" style="left:0; position:sticky;"><input type="text" class="filter-col-0" /></th>
					}
					else
					{
						<th><input type="text" class="filter-col-@i" /></th>
					}
				}
			</tr>
		</thead>
		<tbody>
			@foreach (var clarifier in Model)
			{
				<tr onclick="OpenPopup(@clarifier.equip_id, 'OpenPopupClarifierVPU', 'ClarifierVPUDataPopup')">
				<td>@clarifier.unom_equip</td>
				<td>@clarifier.mark</td>
				<td>@clarifier.capacity</td>
				<td>@clarifier.volume</td>
				<td>@clarifier.diameter</td>
			</tr>
			}
		</tbody>
	</table>
</div>
<div class="data-row table-summary">
	<div class="data-item rows-count">
		<h5>Всего записей:</h5>
		<p><span class="mark-color" id="all_cnt_rows"></span></p>
	</div>
</div>
<script type="text/javascript" src="@Url.Content("~/hss/js/datatables_common_scripts.js")"></script>		