@model List<WebProject.Areas.DictionaryTables.Models.SteamTurbineViewmodel>
@{
	int cnt_columns = 10;
}
<h3>Паровые турбоагрегаты</h3>
<div class="table-block">
	<input type="hidden" value="0" id="refresh_SteamTurbine_table" />
	<div class="table-buttons SteamTurbineTable-buttons"></div>
	<table id="SteamTurbineTable" class="display compact table-clicked" style="width:100%">
		<thead>
			<tr>
				<th rowspan="2">УНОМ парового турбоагрегатор</th>
				<th rowspan="2">Марка оборудования</th>
				<th rowspan="2">Завод изготовитель</th>
				<th rowspan="2">Установленная электрическая мощность<span class="data-unit">(МВт)</span></th>
				<th colspan="3">Установленная тепловая мощность</th>
				<th rowspan="2">Парковый ресурс<span class="data-unit">(тыс.ч)</span></th>
				<th rowspan="2">Давление свежего пара<span class="data-unit">(ата)</span></th>
				<th rowspan="2">Температура свежего пара<span class="data-unit">(°С)</span></th>
			</tr>
			<tr>
				<th>всего<span class="data-unit">(Гкал/ч)</span></th>
				<th>теплофикационные отборы<span class="data-unit">(Гкал/ч)</span></th>
				<th>производственные отборы<span class="data-unit">(Гкал/ч)</span></th>
			</tr>
			<tr class="filter-row ">
				@for (int i = 0; i < @cnt_columns; i++)
				{
					if (i == 0)
					{
						<th class="dtfc-fixed-left" style="left:0; position:sticky;"><input type="text" class="filter-col-0" /></th>
					}
					else
					{
						<th><input type="text" class="filter-col-@i" /></th>
					}
				}
			</tr>
		</thead>
		<tbody>
			@foreach(var turbine in Model)
			{
				<tr onclick="OpenPopup(@turbine.equip_id, 'OpenPopupSteamTurbine', 'SteamTurbineDataPopup');">
					<td>@turbine.unom_equip</td>
					<td>@turbine.mark</td>
					<td>@turbine.manufacturer</td>
					<td>@turbine.inst_electric_power</td>
					<td>@turbine.inst_heat_power</td>
					<td>@turbine.ihp_heat_selections</td>
					<td>@turbine.ihp_prod_selections</td>
					<td>@turbine.park_resources</td>
					<td>@turbine.fresh_steam_pressure</td>
					<td>@turbine.fresh_steam_temp</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="data-row table-summary">
	<div class="data-item rows-count">
		<h5>Всего записей:</h5>
		<p><span class="mark-color" id="all_cnt_rows"></span></p>
	</div>
</div>
<script type="text/javascript" src="@Url.Content("~/hss/js/datatables_common_scripts.js")"></script>				  